*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #401248;
  --light-grey: #b2d0ef;
  --white: #ffffff;
  --dark-blue: #2321ab;
}

body {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 10px;
}

.title,
.options-label,
.team-stats,
footer {
  color: var(--white);
}

.title {
  margin: 1.3rem 0;
}

.team-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

.options-label {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player-card {
  background-color: var(--light-grey);
  color: var(--dark-blue);
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  border-radius: 15px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
  }
  
  footer a {
    color: #50cfd6;
  }
  
  footer a:hover {
    color: #fe4c7b;
    font-size: 1.5em;
  }

@media (max-width: 768px) {
  .team-stats {
    flex-direction: column;
  }
}
